
/*******************************************************************
* Richfaces Calendar CSS
********************************************************************/
img.cal-help-btn {
    margin-top: 2.0em;
    position: absolute;
    right: 60px;
    top: 6px;
    cursor: pointer;
}

img.rf-cal-btn {
    background: 0;
    box-shadow: none;
    padding: 0!important;
    width: 20px;
    position: absolute;
    right: 25px;
    top: 5px;
}

.rf-cal-extr{
	width: 20em !important;
}

*.rf-cal-hdr{
	background:#383838;
	color:#fff;
	border-bottom: 1px solid #c4c3c3;
	border-right: 0px solid #c4c3c3;
	padding:0px !important;
}

*.rf-cal-tl{
	background:#383838;
	color:#fff;
}

*.rf-cal-hdr-month{
	background:#383838;
	color:#fff;
	font-size: 1.3em;
}

*.rf-cal-day-lbl {
	background:#f3f3f3;
	color:#7d7d7d;
	border-bottom: 1px solid #c4c3c3;
	border-right: 0px solid #c4c3c3;
}

*.rf-cal-tl-ftr {
	background:#f3f3f3;
}

*.rf-cal-ftr{
	background:#f3f3f3;
	border-top: 1px solid #c4c3c3;
	border-right: 0px solid #c4c3c3;
	padding: 0px !important;
}

*.rf-cal-btn {
	color: #7d7d7d;
	background: #e4e4e4;
	box-shadow: 0 0 3px #c0c0c0;
	padding: 4%;
}

*.rf-cal-boundary-day {
	color: #b6b1b1 !important;
	background: #f3f3f3;
}

*.rf-cal-holiday {
	background-color: #fff;
	color: #FF7800 !important;
}


*.rf-cal-hov{
	background: #f2f2f2;
}

*.rf-cal-sel{
	color: #fff !important;
	background: #383838;
	border: none;
}

.rf-cal-c-cnt-overflow, .rf-cal-c {
	border: 0px solid #c4c3c3;
	color: #7d7d7d;
	
}

*.rf-cal-tl-btn-hov {
	background:none;
	border:none;
	color:#eeeeee;
}

*.rf-cal-tl-btn {
	padding: 2px 3px 2px 3px;
}

*.rf-cal-btn-close {
	display: none;
}

*.rf-cal-timepicker-cnt{
	background: #f3f3f3;
	border: 1px solid #c4c3c3;
}

*.rf-cal-time-btn{
	background: #fff;
	color: #005c98;
	outline: 1px solid #005c98;
	letter-spacing: 0;
	padding: 0em 1em;
	margin-right: 0.313em;
	font-size: 1em;
	cursor: pointer;
	border:none;
	width: auto !important;
}

*.rf-cal-timepicker-cnt, *.rf-cal-monthpicker-cnt, *.rf-cal-timepicker-cnt input{
	width: 25px !important;
	margin: 0;
}

.rf-cal-sp-up, .rf-cal-sp-down{
	margin: 0px;
	width: 12px;
}

*.rf-cal-sp-btn{
	background: #fff;
	outline: 1px solid #005c98;
	cursor: pointer;
	border:none;
}

*.rf-cal-edtr-btn {
	color: #000;
}

/*****************************************************************************
* Richfaces Calendar CSS End
******************************************************************************/

/******************************** Media Queries *********************************/
@media (max-width: 991px) {
	
}


@media (max-width: 768px) {
	
	/*
	*.rf-cal-edtr-shdw, *.rf-cal > table {
		position: fixed !important;
		z-index: 99;
	}*/
}


@media (max-width: 550px) {
	
}


@media (max-width: 400px) {
	
}


@media (min-width: 1700px) {

}
